*,
*::before,
*::after {
  box-sizing: border-box;
}

body,
footer {
  width: 1100px;
  margin: 0 auto;
  font-family: Raleway, sans-serif;
  font-weight: 400;
  background-color: white;
  font-size: 18px;
  font-style: normal;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
ul,
ol,
li,
blockquote {
  margin: 0;
  padding: 0;
}

a {
  color: inherit;
  text-decoration: none;
}

img {
  width: 100%;
}

button {
  font: inherit;
}
