.header {
    padding: 92px 50px 96px 50px;
    display: grid;
    grid-template-columns: 1fr min-content 1fr;
    align-items: center;
    font-size: 18px;
}

img {
    display: block;
    width: 148px;
    height: 105px;
    min-height: none;
}

a {
    display: block;
    width: 100%;
    height: 100%;
}  

.header__links-list {
    display: flex;
    gap: 32px;
    list-style: circle;
}

.header__link {
    text-decoration: underline;
    text-underline-position: under;
} 

.header__links-list-item_no-bullit {
    list-style: none;
}

.header__link_active {
    text-decoration: none;
}

.address {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    font-family: Raleway, sans-serif;
    font-weight: 400;
    background-color: white;
    font-size: 18px;
    font-style: normal;
    max-width: 300px;
    justify-self: end;
    padding-right: 35px;
    gap: 5px;
}

.address__link {
    text-decoration: underline;
    text-underline-position: under;
}

.overlay {
    position: absolute;
    min-height: 100%;
    min-width: 100%;
    background-color: rgba(0, 0, 0, 0.6);
    z-index: 0;
}

.cover {
    position: relative;
    width: 1100px;
    min-height: 757px;
    background-image: url(../images/cover.jpg); /*цветочки*/
    background-position: center;
    background-size: cover;
    text-transform:uppercase;
}

.cover__title {
    position: relative;
    padding-top: 165px;
    padding-left: 50px;
}


.aligned-text {
    font-family: Raleway, sans-serif;
    font-weight: 700;
    font-size: 100px;
    color: white;
    letter-spacing: 0.3em;
    z-index: 1;
}

.aligned-text_left {
    display: block;
    text-align: start;
}

.aligned-text_center {
    display: block;
    text-align: center;
    margin-top: 16px;
    margin-right: 19px;
}

.aligned-text_right {
    display: block;
    text-align: end;
    margin-top: 19px;
    margin-right: 19px;
}

.bet-button {
    padding: 12px 32px 11px 31px;
    font-family: Raleway, sans-serif;
    font-weight: 500;
    font-size: 22px;
    font-style: medium;
    border: 1px solid white;
    color: white;
    background-color: transparent;
    z-index: 2;
}

.cover__description-text {
    font-family: Raleway, sans-serif;
    font-weight: 400;
    font-size: 22px;
    font-style: medium;
    color: white;
    word-spacing: 19px;
    z-index: 2;
}

.cover__description {
    display: grid;
    grid-template-columns: auto 256px;
    align-items: center;
    margin: 106px 50px;
}

.lots {
    width: 1100px;
    margin-top: 180px;
}

.lots__heading {
    font-family: Raleway, sans-serif;
    font-weight: 700;
    font-size: 40px;
    font-style: bold;
    text-transform: uppercase;
    margin-bottom: 27px;
    margin-left: 64px;
}

.lots__cards-list {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 25px;
    list-style: none;
    margin-left: 24px;
    justify-content: flex-start;
}

.lots__card-list-item {
    width: 334px;
    min-height: 596px;
}

.card__link {
    display: flex;
    flex-direction: column;
    list-style: none;
    text-decoration: none;
    height: 100%;
}

.card {
    position: relative;
    height: 100%;
    background-size: cover;
    background-position: center;
    box-sizing: border-box;
    background-repeat: no-repeat;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.card_type_film {
    background-image: url(../images/card-lot-01.jpg);
}

.card_type_book {
    background-image: url(../images/card-lot-02.jpg);
}

.card_type_picture {
    background-image: url(../images/card-lot-03.jpg);
}

.card__title {
    position: relative;
    font-family: Raleway, sans-serif;
    font-weight: 700;
    font-size: 22px;
    list-style: none;
    text-transform: uppercase;
    background-color: transparent;
    color: white;
    padding: 48px 40px 0 40px;
    z-index: 2;
    text-decoration: underline;
    text-underline-position: under;
}

.card__text {
    position: relative;
    font-family: Raleway, sans-serif;
    font-weight: 400;
    font-size: 20px;
    background-color: transparent;
    color: white;
    padding: 0 40px 48px 40px;
    z-index: 2;
}

.lots__look-more-link {
    font-family: Raleway, sans-serif;
    font-weight: 400;
    font-size: 20px;
    padding-left: 64px;
    margin-top: 30px;
    text-decoration: underline;
    text-underline-position: under;
}

.about {
    margin-top: 155px;
    padding: 0px 48px;
}

.about__container {
    width: 1052px;
    display: flex;
    justify-content: center;
}

.about__logo {
    background-color: black;
    width: 240px;
    height: 240px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.about__logo-image {
    width: 148px;
    height: 114px;
}

.about__grid-container {
    display: grid;
    grid-template-rows: auto 1fr;
    max-width: 693px;
    gap: 100px;
    width: 100%;
    margin-left: 72px;
    margin-top: 98px;
    
}

.about__title {
    margin: 0;
    font-size: 40px;
    text-transform: uppercase;
    
}

.about__column {
    font-size: 20px;
}

.about__text {
    margin-bottom: 24px;
    margin-right: 10px;
}

.footer {
    margin-top: 160px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    padding: 0px 50px 0 0px; 
    height: 100%;
}

.footer__social-list {
    display: flex;
    list-style: none;
    justify-content: end;
    gap: 48px;
}

.footer__social-icon-image {
    width: 48px;
    height: 48px;

}

.footer__menu {
    display: flex;
    justify-content: center;
    margin-left: 50px;
}

.footer__menu-list {
    list-style: none;
    text-align: center;
    font-family: Raleway, sans-serif;
    font-weight: 400;
    background-color: white;
    font-size: 18px;
}

.footer__menu-link {
    text-decoration: underline;
    text-underline-position: under;
}

.footer__menu-link_active {
  text-decoration: none;
}

.address__link {
    text-decoration: underline;
    text-underline-position: under;
}

