.header {
    padding: 92px 50px 96px 50px;
    display: grid;
    grid-template-columns: 1fr min-content 1fr;
    align-items:center;
    font-size: 18px;
}

img {
    display: block;
    width: 148px;
    height: 105px;
    min-height: none;
}

a {
  display: block;
  width: 100%;
  height: 100%;
}

.header__link_active {
    list-style: none;
    text-decoration: none;
}

.header__link {
    text-decoration: underline;
    text-underline-position: under;
}   

.header__links-list {
    display: flex;
    gap: 32px;
    list-style: circle;
    
}

.address {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    font-family: Raleway, sans-serif;
    font-weight: 400;
    background-color: white;
    font-size: 18px;
    font-style: normal;
    max-width: 300px;
    justify-self: end;
    padding-right: 35px;
    gap: 5px;
}

.header__address {
    text-decoration: underline;
    text-underline-position: under;
}

.overlay {
    position: absolute;
    min-height: 100%;
    min-width: 100%;
    background-color: rgba(0, 0, 0, 0.6);
    z-index: 0;
}

.cover {
    position: relative;
    width: 1100px;
    height: 757px;
    background-image: url(/images/cover.jpg); /*цветочки*/
    background-position: center;
    background-size: cover;
    text-transform:uppercase;
}

.cover__title {
    position: relative;
    height: 385px;
}


.aligned-text {
    position: absolute;
    font-family: Raleway, sans-serif;
    font-weight: 700;
    font-size: 100px;
    color: white;
    letter-spacing: 0.3em;
    z-index: 1;
}

.aligned-text_left {
   left: 50px;
   top: 165px;
}

.aligned-text_center {
    left: 380px;
   top: 300px;
}

.aligned-text_right {
    left: 663px;
    top: 435px;
}

.bet-button {
    position: absolute; 
    bottom: 50px;
    left: 794px;
    padding: 12px 32px 11px 31px; 
    font-family: Raleway, sans-serif;
    font-weight: 500;
    font-size: 22px;
    font-style: medium;
    border: 1px solid white;
    color: white;
    background-color: transparent;
}

.cover__description-text {
    position: absolute;
    font-family: Raleway, sans-serif;
    font-weight: 400;
    font-size: 22px;
    font-style: medium;
    color: white;
    top: 668px;
    left: 50px;
    word-spacing: 19px;
}

.lots__heading {
    width: 1100px;
    height: 757px;
    margin-top: 180px;
}

.lots {
    font-family: Raleway, sans-serif;
    font-weight: 700;
    font-size: 40px;
    font-style: bold;
    text-transform: uppercase;
    margin-bottom: 27px;
    margin-left: 64px;
}

.lots__cards-list {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 25px;
    list-style: none;
    justify-content: center;
}

.lots__card-list-item {
    width: 334px;
    height: 596px;
}

.lots__look-more-link {
    font-size: 20px;
    font-weight: 400;
}

.card__link {
    display: flex;
    flex-direction: column;
    list-style: none;
    text-decoration: none;
    height: 100%;
}

.card {
    position: relative;
    height: 100%;
    background-size: cover;
    background-position: center;
    box-sizing: border-box;
    background-repeat: no-repeat;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.card_type_film {
    background-image: url(/images/card-lot-01.jpg);
}

.card_type_book {
    background-image: url(/images/card-lot-02.jpg);
}

.card_type_picture {
    background-image: url(/images/card-lot-03.jpg);
}

.card__title {
    position: relative;
    font-family: Raleway, sans-serif;
    font-weight: 700;
    font-size: 22px;
    list-style: none;
    text-transform: uppercase;
    background-color: transparent;
    color: white;
    padding: 48px 40px 0 40px;
    z-index: 2;
    text-decoration: underline;
    text-underline-position: under;
}

.card__text {
    position: relative;
    font-family: Raleway, sans-serif;
    font-weight: 400;
    font-size: 20px;
    background-color: transparent;
    color: white;
    padding: 0 40px 48px 40px;
    z-index: 2;
}

.lots__look-more-link {
    font-family: Raleway, sans-serif;
    font-weight: 400l;
    font-size: 20px;
    margin-left: 64px;
    margin-top: 30px;
    text-decoration: underline;
    text-underline-position: under;
    
}

.about {
    margin-top: 120px;
    padding: 0 48px;
}

.about__container {
    width: 1052px;
    display: flex;
    justify-content: center;
}

.about__logo {
    background-color: black;
    width: 240px;
    height: 240px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.about__logo-image{
    width: 148px;
    height: 114px;
}

.about__grid-container {
    display: grid;
    grid-template-rows: auto 1fr;
    max-width: 693px;
    gap: 100px;
    width: 100%;
    margin-left: 72px;
    margin-top: 98px;
    
}

.about__title {
    margin: 0;
    font-size: 40px;
    text-transform: uppercase;
    
}

.about__column {
    font-size: 20px;
}

.about__text-first {
    margin: 0;
    padding-top: 3px;
    padding-bottom: 25px;
    padding-right: 5px;
}

.about__text-second {
    margin: 0;
}

.footer {
    margin-top: 180px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr; 
    padding: 0px 50px 0 50px;
    height: 100%;
}

.footer__social-list {
    display: flex;
    list-style: none;
    justify-content: end;
    gap: 48px;
}

.footer__social-icon-image {
    width: 48px;
    height: 48px;

}

.footer__menu {
    display: flex;
    justify-content: center;
}

.footer__menu-list {
    list-style: none;
    text-align: center;
    font-family: Raleway, sans-serif;
    font-weight: 400;
    background-color: white;
    font-size: 18px;
}

.footer__menu-link_active .footer__menu-link {
  text-decoration: none;
}

.footer__address {
    display: grid;
    font-size: 18px;
    font-style: normal;
    padding-bottom: 82px;
    gap: 5px;
}

.footer__menu-link {
    text-decoration: underline;
    text-underline-position: under;
}

.footer__address_a {
    text-decoration: underline;
    text-underline-position: under;
}

